body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.back{
    background-image: url('background/marble_1080x.webp');
    background-size: cover;
    background-repeat: no-repeat;
}
.cool{
    position: relative;
    overflow: hidden;
}
.btn{
    position: absolute;
    top: 0;
    right: -100%;
}
.cool:hover .btn{
    right: 0;
    transition: 0.5s;
}

.btn button{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background: #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
} 

